.title {
  margin: 0 auto;
  font-weight: 300;
  font-size: 18px;
  height: 40px;
  padding-top: 12px;
  float: right;
}
.sort {
  display: inline-block;
  width: 140px;
  font-size: 15px;
  padding-left: 20px;
  font-weight: 400;
  cursor: pointer;
}
.sort:hover {
  color: #21b3fe;
}
.sortOption {
  padding-left: 5px;
  display: inline-block;
  color: #0fafff;
  font-size: 16px;
  font-weight: 400;
}

.condition {
  display: inline-block;
  width: 120px;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.condition:hover {
  color: #21b3fe;

}

.fnIcon {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 16px;
  font-weight: 800;
  padding-left: 4px;
}