.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.listContainer {
  position: relative;
  font-size: 16px;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
}
.loading {
  margin: 0 auto;
  color:darkcyan;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  height: 1000px;
  background-color: aliceblue;
  border:1px solid lightblue;
  padding-top: 400px;
}

.text {
  height: 24px;
}

.hLink {
  align-self: flex-end;
  height: 24px;
  font-size: 12px;
  padding-top: 18px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  color: #009be8;
  .hLinkText {
      top: -2px;
      left: 5px;
      position: relative;
      font-size: 12px;
      width: 50px;
      height: 10px;
  }
}
.hLink.clicked {
  display: flex;
}
.hLink:hover {
  cursor: pointer;
}
.hLink.extralLink {
  display: none !important;
}

.popoverContent {
  display: block;
  position: relative;
  padding: 18px 0px 18px 18px;
  margin: -12px;
  background-color: #F5F3F3;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 500;
  width: 360px;
  .userIcon {
      display: inline-block;
      font-size: 24px;
      position: relative;
      top: 6px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid grey;
  }
  .contact {
      display: inline-block;
      width: calc(100% - 40px);
      padding-left: 30px;
      font-size: 16px;
  }
}
.popoverContent .userIcon span {
  position: relative;
  top: -10px;
  left: 2px;
}
.contactLine {
  font-size: 16px;
  height: 24px;
}
.contactLine .title {
  font-size: 16px;
  display: inline-block;
  float: left;
}
.contactLine .text {
  font-size: 12px;
  display: inline-block;
  float: left;
  padding-top: 4px;
}
.contactLine .qrCode {
  font-size: 20px;
  display: inline-block;
  float: left;
}

.groupText {
  display: inline-block;
  float: left;
  position: relative;
}

.exLink {
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 3px;
  padding-top: 3px;
  font-size: 16px;
  top: -3px;
}

.popoverEle {
  position: fixed;
}